{% sw_extends '@Storefront/storefront/page/account/addressbook/address-item.html.twig' %}

{% set addressDropdownIcon = config('TopdataBetterCheckoutSW6.config.addressDropdownIcon') %}
{% set showPhone = config('TopdataBetterCheckoutSW6.config.showPhoneNumberOnAddressCards') %}

{% block address_item_dropdown_button %}
    <button
        type="button"
        id="address-item-dropdown-btn-{{ address.id }}"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        aria-label="{{ 'account.addressOptionsBtn'|trans|sw_sanitize }}"
        class="bg-transparent border-0"
    >
        {% sw_icon addressDropdownIcon|default('more-vertical') style {size: 's'} %}
    </button>
{% endblock %}

{% block address_item_dropdown_items %}
    <li>
        <a
            class="dropdown-item address-manager-modal-address-form"
            href="{{ path('frontend.account.address.edit.page', {addressId: address.id}) }}"
        >
            {{ 'global.default.edit'|trans|sw_sanitize }}
        </a>
    </li>
    {% if not defaultShipping and not defaultBilling %}
        <li>
            <form
                action="{{ path('frontend.account.address.set-default-address', {type: 'shipping', addressId: address.id}) }}"
                method="post"
            >
                <button
                    type="submit"
                    title="{{ 'account.addressesSetAsDefaultShippingAction'|trans|striptags }}"
                    class="dropdown-item"{% if not address.country.shippingAvailable %}disabled="disabled"{% endif %}
                >
                    {{ 'account.addressesSetAsDefaultShippingAction'|trans|sw_sanitize }}
                </button>
            </form>
        </li>
    {% endif %}
    {% if not (defaultShipping or defaultBilling) %}
        <li>
            <form
                action="{{ path('frontend.account.address.delete', {addressId: address.id}) }}"
                method="post"
            >
                <button type="submit" class="dropdown-item text-danger">
                    {{ 'account.addressesContentItemActionDelete'|trans|sw_sanitize }}
                </button>
            </form>
        </li>
    {% endif %}
{% endblock %}

{% block address_item_address %}
    {{ parent() }}
    {% if showPhone and address.phoneNumber %}
        <div class="address-phone">
            <span class="fw-semibold">{{ 'TopdataBetterCheckoutSW6.address.phone'|trans|sw_sanitize }}</span>
            {{ address.phoneNumber }}
        </div>
    {% endif %}
{% endblock %}

{% block address_item_badge %}
    {#
       We intentionally suppress the billing badge to keep the UI clean,
       but we preserve the shipping badge using native Shopware core HTML.
    #}
    {% set originalDefaultBilling = defaultBilling %}
    {% set defaultBilling = false %}

    {% if defaultShipping %}
        {{ parent() }}
    {% endif %}

    {% set defaultBilling = originalDefaultBilling %}
{% endblock %}
